# Entorno virtual
venv/
env/
ENV/
.venv/
.ENV/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Configuración de VSCode
.vscode/

# Archivos temporales
*.log
*.tmp
*.bak
*.swp
.DS_Store
*.pyc

# Archivos de pruebas o cobertura
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# Archivos de entorno
.env
*.env

# Archivos de Jupyter
.ipynb_checkpoints/

# Carpeta de dependencias si usás pipenv o poetry
Pipfile.lock
poetry.lock

# Archivos de bases de datos temporales
*.sqlite3

# Otros scripts
conexion_software.py
editing_script.py
EER Diagram.mwb